* {
	margin: 0;
	padding: 0;
	
}

header {
	background-image: linear-gradient(to bottom, rgba(10, 16, 83, 0.63), rgba(231, 188, 79, 0.83));
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}	

body {
	font-family: monospace;
}

.logo img {
    width: 150px;
	align-items: center;
}

.topic h1 {
	font-family: "Unbounded", cursive;
	font-size: 100px;
	margin-top: 57px;
	background-color: none;
	text-align:center;
	letter-spacing: -5px;
	color: white;
}

.topic h2 {
	font-family: "Prosto One", cursive;
	font-size: 20px;
	background-color: none;
	text-align: center;
	letter-spacing: 5px;
	color:#fff;
	margin-left: 20px;
}
	
.row {
	max-width: 1200px;
	margin: auto;
}
	
.topnav {
	background-color: #333;
	overflow: hidden;
  }
  
.button {
	margin: 0;
	position: absolute;
	border-radius: 5px;
	top: 57%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-btn-one {
	border: 1px solid white;
	padding: 20px 40px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #959449;
	font-family: "Roboto", sans-serif;
}

.btn-btn-one:hover {
	background-color: #DF7588;
	transition: all 0.5s ease-in;
}	


footer {
	position: relative;
	width: 100%;
	background: #8c752f;
	min-height: 100px;
	padding: 20px -6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}

footer .menu li {
	list-style: none;
}

footer .menu li a {
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
	opacity: 0.75;
}

footer .menu li a:hover {
	opacity: 1;
}

footer p{
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

/* Media Queries */

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
    header {
        padding: 0px 0;
    }
}

/* Laptop Styles */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    header {
        padding: 0 0;
    }
}

/* Tablet Styles */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    header {
        padding: 60px 0;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    header {
        padding: 40px 0;
    }
    
    .logo img {
        width: 120px; /* Adjust the width as needed for mobile */
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 13px;
    }

    .button {
        margin-top: 50px;
    }

    .btn-btn-one {
        font-size: 16px;
        padding: 8px 15px;
    }
}